<script>
	import GoogleLogin from "$lib/components/ui/GoogleLogin.svelte";
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">InCA Researcher Tool</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarColor01"
			aria-controls="navbarColor01"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon" />
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/which-has-more">Which Has More</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/delboeuf">Delboeuf</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pop">Pop</a>
				</li>
			</ul>
		</div>
		<GoogleLogin />
	</div>
</nav>

<slot />
