<div class="title">
  <h1>InCA Researcher Tool</h1>
</div>
<div class="english">
  <h1>English</h1>
  <h4>
    The InCA Researcher Tool is an advanced web application designed to
    facilitate the collection, management, and analysis of behavioral and
    cognitive data from digital life enrichment applications.
  </h4>
  <h4>
    Tailored for researchers in comparative psychology and ethology, this tool
    provides a centralized platform to store, visualize, and statistically
    analyze data gathered from various animal-computer interaction experiments.
    With an intuitive interface, researchers can easily configure experiments,
    track progress in real-time, and export detailed reports for further study.
    The InCA Researcher Tool empowers scientists to streamline their research
    processes, ensuring accuracy and efficiency while enhancing the
    understanding of animal cognition and behavior.
  </h4>
</div>

<div class="spanish">
  <h1>Español</h1>
  <h4>
    La Herramienta InCA Researcher es una aplicación web avanzada diseñada para
    facilitar la recolección, gestión y análisis de datos conductuales y
    cognitivos provenientes de aplicaciones digitales de enriquecimiento de
    vida. Pensada para investigadores en psicología comparativa y etología, esta
    herramienta ofrece una plataforma centralizada para almacenar, visualizar y
    analizar estadísticamente los datos recopilados de diversos experimentos de
    interacción animal-computadora.
  </h4>
  <h4>
    Con una interfaz intuitiva, los investigadores pueden configurar
    experimentos fácilmente, seguir el progreso en tiempo real y exportar
    informes detallados para estudios posteriores. La Herramienta InCA
    Researcher permite a los científicos optimizar sus procesos de
    investigación, garantizando precisión y eficiencia mientras se mejora la
    comprensión de la cognición y comportamiento animal.
  </h4>
</div>
<div class="footer">
  <p>
    To read the documentation, visit the
    <a href="https://csepulvedaa.gitlab.io/inca-researcher-tool/"
      >InCA - Researcher Tool Documentatio on Gitlab</a
    >.
  </p>
</div>

<style>
  .footer {
    display: block;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
  }

  .title {
    display: block;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .english {
    display: block;
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .spanish {
    display: block;
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
</style>
