<script>
  import PieChart from "../charts/PieChart.svelte";
  import Heatmap from "../charts/Heatmap.svelte";
  import CorrelationAnalysis from "../stats/CorrelationAnalysis.svelte";
  import Tooltip from "../ui/Tooltip.svelte";
  import { fetchBFFData } from "$lib/dataService";
  import { writable } from "svelte/store";
  import { onMount } from "svelte";
  import Scatterplot from "./Scatterplot.svelte";

  export let selectedSubject;
  export let userId;
  export let firestoreCollection;

  let startDate = writable(null);
  let endDate = writable(null);
  let loading = false; // Add loading flag

  let actions;
  let initialFetchDone = false;

  async function fetchData() {
    loading = true; // Start loading
    const start = $startDate ? new Date($startDate).toISOString() : undefined;
    const end = $endDate ? new Date($endDate).toISOString() : undefined;
    actions = await fetchBFFData(
      selectedSubject,
      userId,
      firestoreCollection,
      start,
      end,
    );
    loading = false; // End loading
  }

  onMount(() => {
    fetchData(); // Fetch initial data without date filters
    initialFetchDone = true;
  });

  $: if ($startDate && $endDate && initialFetchDone) {
    fetchData(); // Fetch data only when both dates are set and initial fetch has completed
  }

  $: if (!$startDate && !$endDate) {
    fetchData(); // Fetch data only when both dates are set and initial fetch has completed
  }

  // Watch for changes in selectedSubject and refetch data
  $: {
    if (selectedSubject) {
      fetchData();
    }
  }
</script>

<div class="header">
  <div class="date-info">
    {#if $startDate && $endDate}
      <h5>Date Range: <i>{$startDate}</i> to <i>{$endDate}</i></h5>
    {:else}
      <h5>Date Range: All Time</h5>
    {/if}
  </div>
  <div class="date-filter">
    <h6>Filter By Date:</h6>
    <input type="date" bind:value={$startDate} placeholder="Start Date" />
    to
    <input type="date" bind:value={$endDate} placeholder="End Date" />
  </div>
</div>
{#if loading}
  <p>Loading data, please wait...</p>
{:else if actions}
  {#each Object.keys(actions.valueCounts) as count (count)}
    <div class="chart-container">
      <div class="pie-chart">
        <h2>Display Mode Distribution {count} Values</h2>
        <PieChart {actions} numberOfChoices={count} />
      </div>
    </div>
  {/each}
  <div class="pie-info">
    <p>
      <i
        >Pie Charts produced automatically on https://backend.incalab.cl/ using
        the library ChartJs</i
      >
    </p>
  </div>
  <div class="heatmap-title">
    <h2>Heatmap 2 Values</h2>
    <Tooltip
      text="The heatmap displays the correlation between two variables.
      The darker the color, the stronger the correlation.
      https://en.wikipedia.org/wiki/Heat_map"
    />
  </div>
  <div class="heatmap-container">
    <div class="heatmap">
      <Heatmap {actions} />
    </div>
    <div class="heatmap-analysis">
      <CorrelationAnalysis {actions} />
    </div>
  </div>
  <div class="heatmap-info">
    <p>
      <i
        >Heatmap produced automatically on https://backend.incalab.cl/ using the
        library ChartJs and ChartJS - Matrix</i
      >
    </p>
  </div>
  <div class="correlogram-container">
    <div class="correlogram-title">
      <h2>Correlogram With Histogram - 2 Values</h2>
      <Tooltip
        text="The correlogram displays the correlation between two variables.
       The histograms show the distribution of each variable.
       https://en.wikipedia.org/wiki/Correlogram"
      />
    </div>

    <Scatterplot rawData={actions.correlationValues} />
  </div>
  <div class="correlogram-info">
    <p>
      <i
        >Correlogram produced automatically on https://backend.incalab.cl/ using
        the library ChartJs</i
      >
    </p>
  </div>
{:else}
  <p>No statistical data available.</p>
{/if}

<style>
  .chart-container {
    width: 25%; /* Each chart container takes up 25% of the width */
    padding: 10px;
    display: inline-block; /* Display the chart containers in a row */
    box-sizing: border-box; /* Include padding in the width calculation */
    vertical-align: top; /* Align the chart containers to the top */
  }

  .pie-chart {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* Additional styling for the chart containers */
  .chart-container:nth-child(4n + 1) {
    clear: both; /* Start a new row after every 4th chart container */
  }
  .heatmap-container {
    display: flex;
    gap: 10px;
  }
  .heatmap {
    width: 80rem;
    height: 30rem;
  }
  .correlogram-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .heatmap-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .heatmap-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .pie-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .correlogram-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .date-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
</style>
