<script>
  import { onMount, onDestroy } from 'svelte';
  import Chart from 'chart.js/auto';
  import { MatrixController, MatrixElement } from 'chartjs-chart-matrix';

  export let actions;

  Chart.register(MatrixController, MatrixElement);

  let chart;
  let chartContext;
  let chartData = { datasets: [] };

  $: correlationTest = actions?.correlationTest;
  $: if (correlationTest) updateChartData(correlationTest);

  onMount(() => {
    chartContext = document.getElementById('heatmap').getContext('2d');
    initializeChart();
    window.addEventListener('resize', resizeChart);
  });

  onDestroy(() => {
    if (chart) {
      chart.destroy();
    }
    window.removeEventListener('resize', resizeChart);
  });

  function resizeChart() {
    if (chart) {
      chart.resize();
    }
  }

  function initializeChart() {
    chart = new Chart(chartContext, {
      type: 'matrix',
      data: chartData,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            type: 'category',
            labels: Object.keys(correlationTest),
            offset: true
          },
          y: {
            type: 'category',
            labels: Object.keys(correlationTest),
            offset: true,
            position: 'left'
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              title(context) {
                return `${context[0].dataset.data[context[0].dataIndex].x} vs ${context[0].dataset.data[context[0].dataIndex].y}`;
              },
              label(context) {
                const v = context.dataset.data[context.dataIndex].v;
                return `Correlation: ${v.toFixed(2)}`;
              }
            }
          },
          legend: {
            display: false
          }
        }
      }
    });
  }

  function updateChartData(correlationTest) {
    const labels = Object.keys(correlationTest);
    const data = labels.flatMap(yLabel => {
      return labels.map(xLabel => {
        return {
          x: xLabel,
          y: yLabel,
          v: correlationTest[yLabel][xLabel]
        };
      });
    });

    chartData = {
      datasets: [{
        label: 'Correlation Heatmap',
        data,
        backgroundColor(context) {
          const value = context.dataset.data[context.dataIndex].v;
          const alpha = Math.abs(value);
          return value >= 0 ? `rgba(255, 150, 100, ${alpha})` : `rgba(0, 100, 255, ${alpha})`;
        },
        width: (context) => {
          const a = context.chart.chartArea || {};
          return (a.right - a.left) / labels.length - 5; // 5px padding
        },
        height: (context) => {
          const a = context.chart.chartArea || {};
          return (a.bottom - a.top) / labels.length - 5; // 5px padding
        }
      }]
    };

    if (chart) {
      chart.data = chartData;
      chart.options.scales.x.labels = labels;
      chart.options.scales.y.labels = labels;
      chart.update();
    }
  }
</script>

<canvas id="heatmap" />
