<script>
  export let actions;
  export let numberOfChoices;
  import { Pie } from 'svelte-chartjs';
  import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    ArcElement,
    CategoryScale,
    Colors,
  } from 'chart.js';

  ChartJS.register(Title, Tooltip, Legend, Colors, ArcElement, CategoryScale);

  let data;

  $: {
    const stringNumberOfChoices = numberOfChoices.toString();
    const displayModes = actions?.displayModes[stringNumberOfChoices];
    if (displayModes) {
      let labels = Object.keys(displayModes);
      let datasetData = Object.values(displayModes);

      data = {
        labels,
        datasets: [
          {
            label: 'N° of tests:',
            data: datasetData,
            borderWidth: 1,
          },
        ],
      };
    }
  }
</script>

{#if data}
  <Pie {data} options={{ responsive: true }} />
{/if}
