<script>
    import Tooltip from "../ui/Tooltip.svelte";
    import { fetchPopData } from "$lib/dataService";
    import { writable } from "svelte/store";
    import { onMount } from "svelte";
    import TotalPieChart from "./Pop/TotalPieChart.svelte";
    import { isEmpty } from "@firebase/util";
    import MarkedPieChart from "./Pop/MarkedPieChart.svelte";
    import ScreenTaps from "./Pop/ScreenTaps.svelte";

    export let selectedSubject;
    export let userId;

    let startDate = writable(null);
    let endDate = writable(null);

    let actions;
    let initialFetchDone = false;
    let loading = false; // Add loading flag

    async function fetchData() {
        loading = true; // Start loading
        const start = $startDate
            ? new Date($startDate).toISOString()
            : undefined;
        const end = $endDate ? new Date($endDate).toISOString() : undefined;
        actions = await fetchPopData(selectedSubject, userId, start, end);
        loading = false; // End loading
    }

    onMount(() => {
        fetchData();
        initialFetchDone = true;
    });

    $: if ($startDate && $endDate && initialFetchDone) {
        fetchData();
    }

    $: if (!$startDate && !$endDate) {
        fetchData();
    }

    $: if (selectedSubject) {
        fetchData();
    }
</script>

<div class="header">
    <div class="date-info">
        {#if $startDate && $endDate}
            <h5>Date Range: <i>{$startDate}</i> to <i>{$endDate}</i></h5>
        {:else}
            <h5>Date Range: All Time</h5>
        {/if}
    </div>
    <div class="date-filter">
        <h6>Filter By Date:</h6>
        <input type="date" bind:value={$startDate} placeholder="Start Date" />
        to
        <input type="date" bind:value={$endDate} placeholder="End Date" />
    </div>
</div>

{#if loading}
    <p>Loading data, please wait...</p>
{:else if actions && !isEmpty(actions?.chiSquaredColors?.rowTotals)}
    <div class="chart-container">
        <div class="pie-chart">
            <h2>Color Balloon Distribution</h2>
            <TotalPieChart {actions} />
        </div>
        <div class="pie-chart-marked">
            <h2>Marked Balloon Distribution</h2>
            <MarkedPieChart {actions} />
        </div>
    </div>
    <div class="screen-taps-title">
        <h2>Screen Taps</h2>
        <Tooltip
            text="The screen-taps displays the distribution of the screen taps on the x and y axis."
        />
    </div>
    <div class="screen-taps-container">
        <ScreenTaps {actions} />
    </div>
{:else}
    <p>No statistical data available.</p>
{/if}

<style>
    .chart-container {
        padding: 10px;
        display: flex;
        gap: 50px;
        justify-content: center;
        box-sizing: border-box; /* Include padding in the width calculation */
        vertical-align: top; /* Align the chart containers to the top */
    }

    .pie-chart {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pie-chart-marked {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Additional styling for the chart containers */
    .chart-container:nth-child(4n + 1) {
        clear: both; /* Start a new row after every 4th chart container */
    }
    .heatmap-container {
        display: flex;
        gap: 10px;
    }
    .screen-taps-title {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    /* .heatmap {
        width: 80rem;
        height: 30rem;
    } */
    .correlogram-title {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .heatmap-title {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .heatmap-info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .pie-info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .correlogram-info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .date-filter {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        justify-content: flex-end;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
</style>
