<script>
    import { onMount } from "svelte";
    import Chart from "chart.js/auto";

    export let rawData; // rawData is passed as a prop

    let charts = []; // Stores Chart.js instances
    let canvasRefs = []; // Stores references to canvas elements
    const variables = ["Total", "Difference", "Ratio", "Accuracy"]; // Variables to plot

    onMount(() => {
        createChartsGrid();
    });

    $: if (rawData && canvasRefs.length > 0) {
        clearCharts();
        createChartsGrid();
    }

    function clearCharts() {
        charts.forEach((chart) => chart.destroy());
        charts = [];
    }

    function createChartsGrid() {
        variables.forEach((v1, i) => {
            variables.forEach((v2, j) => {
                // Access the canvas context directly from the refs
                const ctx =
                    canvasRefs[i * variables.length + j].getContext("2d");
                if (i === j) {
                    const histogramData = calculateHistogramData(rawData, v1);
                    charts.push(
                        new Chart(ctx, {
                            type: "bar",
                            data: histogramData,
                            options: {}, // Your options here
                        }),
                    );
                } else {
                    const scatterData = calculateScatterData(rawData, v1, v2);
                    charts.push(
                        new Chart(ctx, {
                            type: "scatter",
                            data: scatterData,
                            options: {}, // Your options here
                        }),
                    );
                }
            });
        });
    }

    function calculateHistogramData(data, variable) {
        // Binning the data for the histograms
        const counts = data.reduce((acc, val) => {
            let key = val[variable];
            if (!acc[key]) {
                acc[key] = 0;
            }
            acc[key] += 1;
            return acc;
        }, {});

        // Preparing data for Chart.js bar chart
        const histogramData = {
            labels: Object.keys(counts),
            datasets: [
                {
                    label: variable,
                    data: Object.values(counts),
                    backgroundColor: "rgba(100, 100, 255, 0.5)",
                },
            ],
        };

        return histogramData;
    }

    function calculateScatterData(data, variableX, variableY) {
        // Creating data for Chart.js scatter chart
        const scatterData = {
            datasets: [
                {
                    label: `${variableX} vs ${variableY}`,
                    data: data.map((item) => ({
                        x: parseFloat(item[variableX]),
                        y: parseFloat(item[variableY]),
                    })),
                    backgroundColor: "rgba(100, 100, 255, 0.5)",
                },
            ],
        };

        return scatterData;
    }
</script>

<div class="chart-grid">
    {#each variables as _, i}
        {#each variables as __, j}
            <div class="chart-container">
                <canvas bind:this={canvasRefs[i * variables.length + j]}
                ></canvas>
            </div>
        {/each}
    {/each}
</div>

<style>
    .chart-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .chart-container {
        position: relative;
        height: 150px;
    }
</style>
