<script>
    import DefaultPage from "$lib/components/ui/DefaultPage.svelte";
    import { INCA_APPS } from "$lib/constants";
  
    const firestoreCollection = INCA_APPS.CIO;
    </script>
  
  <DefaultPage {firestoreCollection}/>