<script>
    export let actions;
    export let numberOfChoices;

    const stringNumberOfChoices = numberOfChoices.toString();
</script>

{#if actions.binomialTest[stringNumberOfChoices]}
    <section class="card border-secondary mb-3">
        <div class="card-header">Binomial Test</div>
        <div class="card-body">
            <p class="card-text d-flex justify-content-between align-items-center">
                pValue: <span class="badge bg-primary badge-pill">{actions.binomialTest[stringNumberOfChoices].pValue}</span>
            </p>
            <p class="card-text d-flex justify-content-between align-items-center">
                Subject choose randomly: <span class="badge bg-primary badge-pill">
                    {actions.binomialTest[stringNumberOfChoices].notChoosedRandom ? "No" : "Yes"}
                </span>
            </p>
        </div>
    </section>
{/if}
