<script>
  export let actions;
</script>

{#if actions.chiSquaredSideBias}
  <section class="card border-secondary mb-3">
    <div class="card-header">
      Contingency Chi-Squared Test for Side Bias by Outcome
    </div>
    <div class="card-body">
      <p class="card-text d-flex justify-content-between align-items-center">
        Chi-Squared:
        {#if actions.chiSquaredSideBias.chiSquared !== null}
          <span class="badge bg-primary badge-pill">
            {actions.chiSquaredSideBias.chiSquared.toFixed(5)}
          </span>
        {:else}
          <span class="badge bg-warning badge-pill">No sufficient data</span>
        {/if}
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        pValue:
        {#if actions.chiSquaredSideBias.pValue !== null}
          <span class="badge bg-primary badge-pill">
            {actions.chiSquaredSideBias.pValue.toFixed(5)}
          </span>
        {:else}
          <span class="badge bg-warning badge-pill">No sufficient data</span>
        {/if}
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        Degrees of Freedom:
        <span class="badge bg-primary badge-pill">
          {actions.chiSquaredSideBias.degreesOfFreedom}
        </span>
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        P value is less than 0.05:
        <span class="badge bg-primary badge-pill">
          {actions.chiSquaredSideBias.pValue !== null &&
          actions.chiSquaredSideBias.pValue < 0.05
            ? "Yes"
            : "No"}
        </span>
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        True/False totals (True when the selected side has more quantity):
        <span class="badge bg-primary badge-pill">
          {actions.chiSquaredSideBias.rowTotals.True}/ {actions
            .chiSquaredSideBias.rowTotals.False}
        </span>
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        Left/Right totals:
        <span class="badge bg-primary badge-pill">
          {actions.chiSquaredSideBias.colTotals.left}/ {actions
            .chiSquaredSideBias.colTotals.right}
        </span>
      </p>
      <div class="explain-paragraph">
        <p>
          The Chi-Squared test
          {actions.chiSquaredSideBias.pValue !== null &&
          actions.chiSquaredSideBias.pValue < 0.05
            ? "indicates a significant bias in side selection between the categories (True/False and Left/Right). This suggests that the selection is influenced by a preference for one side over the other when considering the quantity on each side."
            : actions.chiSquaredSideBias.pValue !== null
              ? "does not indicate any significant bias in the selection between the categories (True/False and Left/Right), suggesting an unbiased choice with no clear preference for either side based on quantity."
              : "No sufficient data to determine bias."}
        </p>
      </div>
    </div>
  </section>
{/if}

<style>
  .explain-paragraph {
    margin-top: 20px;
    text-align: justify;
    font-size: small;
  }
</style>
