<script>
  export let actions;
</script>

{#if actions.chiSquaredPearson}
  <section class="card border-secondary mb-3">
    <div class="card-header">
      Pearson Chi-Squared Test for Overall Side Bias
    </div>
    <div class="card-body">
      <p class="card-text d-flex justify-content-between align-items-center">
        Chi-Squared Pearson: <span class="badge bg-primary badge-pill"
          >{actions.chiSquaredPearson.chiSquared}</span
        >
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        pValue: <span class="badge bg-primary badge-pill"
          >{actions.chiSquaredPearson.pValue}</span
        >
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        Degrees of Freedom: <span class="badge bg-primary badge-pill"
          >{actions.chiSquaredPearson.degreesOfFreedom}</span
        >
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        P value is less than Significance Level? (0.05): <span
          class="badge bg-primary badge-pill"
        >
          {actions.chiSquaredPearson.lessThanSignificance ? "Yes" : "No"}
        </span>
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        Left Selections: <span class="badge bg-primary badge-pill">
          {actions.chiSquaredPearson.totals.left}
        </span>
      </p>
      <p class="card-text d-flex justify-content-between align-items-center">
        Right Selections: <span class="badge bg-primary badge-pill">
          {actions.chiSquaredPearson.totals.right}
        </span>
      </p>

      <div class="explain-paragraph">
        <p>
          The Chi-Squared test results {actions.chiSquaredPearson
            .lessThanSignificance
            ? "indicate"
            : "do not indicate"} a significant bias in side selection.
        </p>
        <p>
          With a p-value {actions.chiSquaredPearson.lessThanSignificance
            ? "below"
            : "above"} 0.05, the subject's choice (left or right) is {actions
            .chiSquaredPearson.lessThanSignificance
            ? "not likely"
            : "likely"} due to random chance.
        </p>
      </div>
    </div>
  </section>
{/if}

<style>
  .explain-paragraph {
    margin-top: 20px;
    text-align: justify;
    font-size: small;
  }
</style>
