<script>
    export let actions;
</script>

{#if actions.contigencyTable}
    <section class="card border-secondary mb-3">
        <div class="card-header">Contingency Table</div>
        <div class="card-body">
            <!-- Assuming your data structure allows direct iteration -->
            {#each Object.entries(actions.contigencyTable) as [key, value]}
                <p class="card-text d-flex justify-content-between align-items-center">
                    {key}: <span class="badge bg-primary badge-pill">{JSON.stringify(value)}</span>
                </p>
            {/each}
        </div>
    </section>
{/if}
