<script>
    export let actions;
    $: data =  actions?.correlationTest;

    function describeCorrelation(value, label1, label2) {
        let description;
        let magnitude = Math.abs(value);
        if (magnitude < 0.1) {
            description = 'The correlation is practically zero';
        } else if (magnitude < 0.3) {
            description = "There's a weak";
        } else if (magnitude < 0.5) {
            description = "There's a moderate";
        } else {
            description = "There's a strong";
        }

        let direction = value > 0 ? 'positive' : 'negative';
        let trend = value > 0 ? 'increases' : 'decreases';

        return `${label1} vs ${label2}: ${description} ${direction} correlation of ${value.toFixed(3)}, ` +
               `suggesting that as ${label1.toLowerCase()} ${trend}, ${label2.toLowerCase()} tends to ${trend} ${value > 0 ? 'also' : 'oppositely'}.`;
    }
</script>

<section class="card border-secondary mb-3">
    <div class="card-header">Heatmap Analysis</div>
    <div class="card-body">
        {#each Object.keys(data) as key1}
            {#each Object.keys(data[key1]) as key2}
                {#if key1 !== key2 && data[key1][key2] !== 0}
                    <p>{describeCorrelation(data[key1][key2], key1, key2)}</p>
                {/if}
            {/each}
        {/each}
    </div>
</section>

<style>
    .card-body {
        font-size: 0.8rem;
        margin-bottom: 0rem;
    }

    p {
        margin-bottom: 0.3rem; /* Adjust the value as needed */
    }
</style>

