<script>
  import DownloadButton from "../ui/DownloadButton.svelte";
  export let actions;
  export let selectedSubject;
  export let numberOfChoices;

  // Destructure the displayModes from actions
  const { displayModes } = actions;

  // Helper function to return mode count or 0 if undefined
  function displayModesCount(mode) {
    return mode !== undefined ? mode : 0;
  }

  // Helper functions to calculate totals, discrete, and continuous
  function calculateTotal() {
    return (
      displayModesCount(displayModes[numberOfChoices].disc) +
      displayModesCount(displayModes[numberOfChoices].rect) +
      displayModesCount(displayModes[numberOfChoices].heap) +
      displayModesCount(displayModes[numberOfChoices].dice)
    );
  }

  function calculateDiscrete() {
    return (
      displayModesCount(displayModes[numberOfChoices].heap) +
      displayModesCount(displayModes[numberOfChoices].dice)
    );
  }

  function calculateContinuous() {
    return (
      displayModesCount(displayModes[numberOfChoices].disc) +
      displayModesCount(displayModes[numberOfChoices].rect)
    );
  }

  // Prepare table headers and data for download button
  const tableHeaders = [
    "Subject",
    "Set Size",
    "Dice",
    "Heap",
    "Discrete",
    "Disc",
    "Rectangle",
    "Continuous",
    "Total",
  ];

  const tableData = [
    [
      selectedSubject,
      numberOfChoices,
      displayModesCount(displayModes[numberOfChoices].dice),
      displayModesCount(displayModes[numberOfChoices].heap),
      calculateDiscrete(),
      displayModesCount(displayModes[numberOfChoices].disc),
      displayModesCount(displayModes[numberOfChoices].rect),
      calculateContinuous(),
      calculateTotal(),
    ],
  ];
</script>

{#if displayModes}
  <section>
    <div class="table-header">
      <div class="header-text">
        <h3>Display Modes</h3>
      </div>
      <div class="download-button">
        <DownloadButton
          name="Display Modes"
          tableId="display-modes-table"
          {tableHeaders}
          {tableData}
        />
      </div>
    </div>

    <table class="table" id="display-modes-table">
      <thead>
        <tr>
          {#each tableHeaders as header}
            <th>{header}</th>
          {/each}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{selectedSubject}</td>
          <td>{numberOfChoices}</td>
          <td>{displayModesCount(displayModes[numberOfChoices].dice)}</td>
          <td>{displayModesCount(displayModes[numberOfChoices].heap)}</td>
          <td>{calculateDiscrete()}</td>
          <td>{displayModesCount(displayModes[numberOfChoices].disc)}</td>
          <td>{displayModesCount(displayModes[numberOfChoices].rect)}</td>
          <td>{calculateContinuous()}</td>
          <td>{calculateTotal()}</td>
        </tr>
      </tbody>
    </table>
  </section>
{/if}

<style>
  .download-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  .table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .table {
    width: 100%; /* Full width inside the container */
    margin-bottom: 1rem; /* Optional: adds space below the table */
  }
  th {
    text-align: center;
  }
  td {
    text-align: center;
    white-space: nowrap; /* Prevent wrapping and ensure scrolling */
  }
</style>
