<script>
    import ValueCountsDisplay from "./ValueCountsDisplay.svelte";
    import BinomialTestDisplay from "./BinomialTestDisplay.svelte";
    import ContingencyTableDisplay from "./ContingencyTableDisplay.svelte";
    import ChiSquaredSideBiasDisplay from "./ChiSquaredSideBiasDisplay.svelte";
    import CorrelationTestDisplay from "./CorrelationTestDisplay.svelte";
    import ChiSquaredPearson from "./ChiSquaredPearson.svelte";
    import { fetchBFFData } from "$lib/dataService";
    import { writable } from "svelte/store";
    import { onMount } from "svelte";
    import { isEmpty } from "@firebase/util";
    import DisplayModes from "./DisplayModes.svelte";

    export let selectedSubject;
    export let userId;
    export let firestoreCollection;

    let startDate = writable(null);
    let endDate = writable(null);
    let loading = false; // Add loading flag

    let actions;
    let initialFetchDone = false;

    async function fetchData() {
        loading = true; // Start loading
        const start = $startDate
            ? new Date($startDate).toISOString()
            : undefined;
        const end = $endDate ? new Date($endDate).toISOString() : undefined;
        actions = await fetchBFFData(
            selectedSubject,
            userId,
            firestoreCollection,
            start,
            end,
        );
        loading = false; // End loading
    }

    onMount(() => {
        fetchData(); // Fetch initial data without date filters
        initialFetchDone = true;
    });

    $: if ($startDate && $endDate && initialFetchDone) {
        fetchData(); // Fetch data only when both dates are set and initial fetch has completed
    }

    $: if (!$startDate && !$endDate) {
        fetchData(); // Fetch data only when both dates are set and initial fetch has completed
    }

    // Watch for changes in selectedSubject and refetch data
    $: {
        if (selectedSubject) {
            fetchData();
        }
    }
</script>

<div class="header">
    <div class="date-info">
        {#if $startDate && $endDate}
            <h5>Date Range: <i>{$startDate}</i> to <i>{$endDate}</i></h5>
        {:else}
            <h5>Date Range: All Time</h5>
        {/if}
    </div>
    <div class="date-filter">
        <h6>Filter By Date:</h6>
        <input type="date" bind:value={$startDate} placeholder="Start Date" />
        to
        <input type="date" bind:value={$endDate} placeholder="End Date" />
    </div>
</div>
{#if loading}
    <p>Loading data, please wait...</p>
{:else if actions && !isEmpty(actions.valueCounts)}
    {#each Object.keys(actions.valueCounts) as count (count)}
        <div class="row">
            <div class="data-display-container">
                <h2>Data Display {count} Values</h2>
                <div class="test-display">
                    <ValueCountsDisplay {actions} numberOfChoices={count} />
                    <DisplayModes
                        {actions}
                        numberOfChoices={count}
                        {selectedSubject}
                    />
                    <BinomialTestDisplay {actions} numberOfChoices={count} />

                    {#if count == 2}
                        <ContingencyTableDisplay {actions} />
                        <CorrelationTestDisplay {actions} />
                        <ChiSquaredPearson {actions} />
                        <ChiSquaredSideBiasDisplay {actions} />
                    {/if}
                </div>
            </div>
        </div>
    {/each}
{:else}
    <p>No statistical data available.</p>
{/if}

<style>
    .row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 40px;
    }
    .data-display-container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .test-display {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .date-filter {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        justify-content: flex-end;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
</style>
