<script>
  export let actions;
  export let numberOfChoices;

    const stringNumberOfChoices = numberOfChoices.toString();
</script>

{#if actions.valueCounts[stringNumberOfChoices].data}
<section class="card border-secondary mb-3">
  <div class="card-header">Value Counts </div>
  <div class="card-body">
      <p
      class="card-text d-flex justify-content-between align-items-center"
  >
      Total: <span class="badge bg-primary badge-pill"
          >{actions.valueCounts[stringNumberOfChoices].data.correct+actions.valueCounts[stringNumberOfChoices].data.incorrect}</span
      >
  </p>
      <p
          class="card-text d-flex justify-content-between align-items-center"
      >
          Correct: <span class="badge bg-primary badge-pill"
              >{actions.valueCounts[stringNumberOfChoices].data.correct}</span
          >
      </p>
      <p
          class="card-text d-flex justify-content-between align-items-center"
      >
          Incorrect: <span class="badge bg-primary badge-pill"
              >{actions.valueCounts[stringNumberOfChoices].data.incorrect}</span
          >
      </p>
      <p
          class="card-text d-flex justify-content-between align-items-center"
      >
          Percentage Correct: <span
              class="badge bg-primary badge-pill"
              >{actions.valueCounts[stringNumberOfChoices].percentage
                  .correct}%</span
          >
      </p>
      <p
          class="card-text d-flex justify-content-between align-items-center"
      >
          Percentage Incorrect: <span
              class="badge bg-primary badge-pill"
              >{actions.valueCounts[numberOfChoices].percentage
                  .incorrect}%</span
          >
      </p>
  </div>
</section>
{/if}
