<script>
    import Popup from "$lib/components/ui/Popup.svelte";
    import DownloadButton from "$lib/components/ui/DownloadButton.svelte";
    export let actions;

    let contingencyTable;
    let columns = [];
    let tableHeaders = [];
    let tableData = [];
    let showPopup = false;
    let latexContent = "";

    function updateTableData() {
        if (!actions || !actions.contingencyTable) return;
        contingencyTable = actions.contingencyTable;

        let colors = contingencyTable.map((row) => row.color);
        let columnsSet = new Set();

        contingencyTable.forEach((row) => {
            Object.keys(row).forEach((key) => {
                if (key !== "color") {
                    columnsSet.add(key);
                }
            });
        });

        columns = Array.from(columnsSet);
        columns.sort((a, b) => {
            if (a === "undefined") return 1;
            if (b === "undefined") return -1;
            return colors.indexOf(a) - colors.indexOf(b);
        });

        tableHeaders = [
            "Color \\ Inner Color",
            ...columns.map((col) => (col === "undefined" ? "None" : col)),
        ];
        tableData = contingencyTable.map((row) => [
            row.color,
            ...columns.map((col) => row[col] || 0),
        ]);

        contingencyTable.sort((a, b) => {
            if (a.color === "undefined") return 1;
            if (b.color === "undefined") return -1;
            return colors.indexOf(a.color) - colors.indexOf(b.color);
        });
    }

    $: actions, updateTableData();

    function showLatex(event) {
        latexContent = event.detail.latexContent;
        showPopup = true;
    }
</script>

<div class="table-header">
    <div class="header-text">
        <h2>Contingency Table</h2>
    </div>

    <div class="download-button">
        <DownloadButton
            name="Contingency Table"
            tableId="contingency-table"
            {tableHeaders}
            {tableData}
        />
    </div>
</div>

<table class="table" id="contingency-table">
    <thead>
        <tr>
            <th>Color \ Inner Color</th>
            {#each columns as column}
                {#if column === "undefined"}
                    <th> None </th>
                {:else}
                    <th>
                        <div
                            class="color-box"
                            style="background-color: {column};"
                        ></div>
                        {column}
                    </th>
                {/if}
            {/each}
        </tr>
    </thead>
    <tbody>
        {#each contingencyTable as row}
            <tr>
                <td>
                    <div
                        class="color-box"
                        style="background-color: {row.color};"
                    ></div>
                    {row.color}
                </td>
                {#each columns as column}
                    <td>{row[column] || 0}</td>
                {/each}
            </tr>
        {/each}
    </tbody>
</table>

{#if showPopup}
    <Popup content={latexContent} onClose={() => (showPopup = false)} />
{/if}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .color-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }
    .download-button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .table-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: auto;
    }
</style>
