<script>
    import Popup from "$lib/components/ui/Popup.svelte";
    import DownloadButton from "$lib/components/ui/DownloadButton.svelte";
    export let actions;

    let poppedAndTotal = actions.poppedAndTotal || [];
    let columns = ["Inner Fig Color", "Popped", "Seen", "Ratio (Popped/Seen)"];
    let tableHeaders = ["Color", ...columns];
    let tableData = poppedAndTotal.map((row) => [
        row.color,
        row.innerFigColor,
        row.popped,
        row.seen,
        row.popped_per_seen.toFixed(2),
    ]);
    let showPopup = false;
    let latexContent = "";

    function showLatex(event) {
        latexContent = event.detail.latexContent;
        showPopup = true;
    }
</script>

<div class="table-header">
    <div class="header-text">
        <h2>Popped And Seen</h2>
    </div>
    <div class="download-button">
        <DownloadButton
            name="Popped And Seen Table"
            tableId="popped-and-seen-table"
            {tableHeaders}
            {tableData}
        />
    </div>
</div>

<table class="table" id="popped-and-seen-table">
    <thead>
        <tr>
            {#each tableHeaders as header}
                <th>{header}</th>
            {/each}
        </tr>
    </thead>
    <tbody>
        {#each poppedAndTotal as row}
            <tr>
                <td>
                    <div
                        class="color-box"
                        style="background-color: {row.color};"
                    ></div>
                    {row.color}
                </td>
                <td>
                    <div
                        class="color-box"
                        style="background-color: {row.innerFigColor};"
                    ></div>
                    {row.innerFigColor}
                </td>
                <td>{row.popped}</td>
                <td>{row.seen}</td>
                <td>{row.popped_per_seen.toFixed(2)}</td>
            </tr>
        {/each}
    </tbody>
</table>

{#if showPopup}
    <Popup content={latexContent} onClose={() => (showPopup = false)} />
{/if}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .color-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }

    .download-button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    .table-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: auto;
    }
</style>
