<script>
  import { onMount } from "svelte";
  import { onAuthStateChanged, fetchLearners } from "$lib/auth";
  import LearnerSelect from "$lib/components/ui/LearnerSelect.svelte";
  import TabNav from "$lib/components/ui/TabNav.svelte";
  import DataBrowser from "$lib/components/tables/DataBrowser.svelte";
  import StatsDisplay from "$lib/components/stats/StatsDisplay.svelte";
  import { fetchAndCacheFirestoreData } from "$lib/firestore/sharedFirestoreService.js";
  import ChartsDisplay from "$lib/components/charts/ChartsDisplay.svelte";

  export let firestoreCollection;

  let learners = [];
  let selectedSubject = "";
  let isLoggedIn = false;
  let showSelectSubjects = false;
  let activeTab = "home";
  let userId;
  let actions;
  let items;
  let tempUserId = "";
  let loading = false;

  onMount(() => {
    onAuthStateChanged((user) => {
      isLoggedIn = !!user;
      if (user) {
        userId = user.uid;
        showSelectSubjects = true;
        fetchLearners(userId).then((fetchedLearners) => {
          learners = ["All", ...fetchedLearners];
        });
      } else {
        resetState();
      }
    });
  });

  function resetState() {
    learners = [];
    selectedSubject = "";
    actions = null;
    items = null;
    showSelectSubjects = false;
  }

  async function loadData() {
    if (userId) {
      if (!selectedSubject) {
        selectedSubject = "All";
      }
      loading = true;
      items = await fetchAndCacheFirestoreData(
        firestoreCollection,
        selectedSubject,
        userId
      );
      loading = false;
    }
  }

  async function handleUserIdSubmit() {
    userId = tempUserId;
    isLoggedIn = true;
    fetchLearners(userId).then((fetchedLearners) => {
      learners = ["All", ...fetchedLearners];
    });
    showSelectSubjects = true;
    await loadData();
  }

  $: if (userId && selectedSubject) {
    loadData();
  }

  function handleTabChange(tab) {
    activeTab = tab;
  }
</script>

{#if isLoggedIn}
  <div class="container">
    {#if showSelectSubjects}
      <h2>Please Select a subject</h2>
      <LearnerSelect {learners} bind:selectedSubject />
    {/if}
    {#if loading}
      <div class="loader">Loading...</div>
    {/if}
    {#if !loading && items && selectedSubject}
      <TabNav {activeTab} onChange={handleTabChange} />
      <div class="content">
        {#if activeTab === "home"}
          <DataBrowser
            {firestoreCollection}
            {items}
            {selectedSubject}
            {userId}
          />
        {:else if activeTab === "stats"}
          <StatsDisplay {firestoreCollection} {selectedSubject} {userId} />
        {:else if activeTab === "charts"}
          <ChartsDisplay {firestoreCollection} {selectedSubject} {userId} />
        {/if}
      </div>
    {/if}
  </div>
{:else}
  <div class="login-container">
    <h1>Please log in to access this feature.</h1>
    <p>Or submit your user ID.</p>
    <input type="text" placeholder="Enter User ID" bind:value={tempUserId} />
    <button class="btn btn-success btn-sm" on:click={handleUserIdSubmit}
      >Submit</button
    >
  </div>
{/if}

<style>
  .container {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
  }
  .content {
    margin-top: 20px;
  }
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  .login-container {
    text-align: center;
    margin-top: 20px;
  }
</style>
