<script>
    import { createEventDispatcher } from "svelte";
    import html2canvas from "html2canvas";
    import Popup from "$lib/components/ui/Popup.svelte";
    import { convertTableToLaTeX } from "$lib/tableUtils.js";

    export let tableId;
    export let tableHeaders = [];
    export let tableData = [];
    export let name = "Table";

    const dispatch = createEventDispatcher();
    let showPopup = false;
    let latexContent = "";
    let downloadFormat = "csv";

    function downloadLatex() {
        latexContent = convertTableToLaTeX(tableHeaders, tableData);
        showPopup = true;
    }

    async function downloadPng() {
        const tableNode = document.getElementById(tableId);

        try {
            const canvas = await html2canvas(tableNode, { scale: 2 });
            const dataUrl = canvas.toDataURL("image/png");

            const link = document.createElement("a");
            link.href = dataUrl;
            link.download = `${name}.png`;
            link.click();
        } catch (error) {
            console.error("Error generating PNG:", error);
        }
    }

    function downloadCsv() {
        const csvContent = [tableHeaders, ...tableData]
            .map((row) => row.join(","))
            .join("\n");

        const blob = new Blob([csvContent], { type: "text/csv" });
        const url = URL.createObjectURL(blob);

        const link = document.createElement("a");
        link.href = url;
        link.download = `${name}.csv`;
        link.click();

        URL.revokeObjectURL(url);
    }

    function handleDownload() {
        switch (downloadFormat) {
            case "csv":
                downloadCsv();
                break;
            case "png":
                downloadPng();
                break;
            case "latex":
                downloadLatex();
                break;
            default:
                break;
        }
    }

    function closePopup() {
        showPopup = false;
    }
</script>

<div class="download-button-container">
    <select
        class="form-select"
        bind:value={downloadFormat}
        style="margin-right: 10px;"
    >
        <option value="csv">CSV</option>
        <option value="png">PNG</option>
        <option value="latex">LaTeX</option>
    </select>
    <button class="btn btn-info" on:click={handleDownload}>Download</button>
</div>

{#if showPopup}
    <Popup content={latexContent} onClose={closePopup} />
{/if}

<style>
    .download-button-container {
        display: flex;
        align-items: center;
    }
    .form-select {
        width: 6rem;
    }
</style>
