<script>
    import { writable } from 'svelte/store';
    import { auth, db } from '$lib/firebase/firebase';
    import {
        GoogleAuthProvider,
        signInWithPopup,
        signOut,
        onAuthStateChanged
    } from "firebase/auth";    
    import { doc, getDoc, setDoc } from "firebase/firestore";

    // Create a Svelte store to manage login status reactively
    let logged = writable(false);
    let user;

    // Update the store based on Firebase auth state
    onAuthStateChanged(auth, (firebaseUser) => {
        logged.set(!!firebaseUser);
        if (firebaseUser) {
            user = firebaseUser;
            console.log('Logged In!');
        }
    });

    async function login() {
        const provider = new GoogleAuthProvider();
        try {
            const result = await signInWithPopup(auth, provider);
            const user = result.user;
            const userRef = doc(db, "users", user.uid);
            const document = await getDoc(userRef);
            
            if (!document.exists()) {
                await setDoc(userRef, {
                    name: user.displayName,
                    role: "usuario",
                    email: user.email,
                });
            }
            let token = await user.getIdToken();
            localStorage.setItem('login', JSON.stringify({ token: token, userId: user.uid }));
        } catch (error) {
            console.log("Error signing in:", error);
        }
    }

    function logout() {
        signOut(auth).then(() => {
            localStorage.removeItem('login');
        });
    }
</script>

<!-- Update the UI based on the store's value -->
<div>
    {#if $logged}
        <img src={user.photoURL} alt={user.displayName}>
        <button on:click={logout} class="btn btn-primary">Logout</button>
    {:else}
        <button on:click={login} class="btn btn-secondary">Log in with Google</button>
    {/if}
</div>

<style>
    img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100px;
    }
    button {
        border-radius: 4px
    }
</style>
