<script>
    export let learners;
    export let selectedSubject;
</script>

<select bind:value={selectedSubject} class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option value="" selected disabled>Select a Learner</option>
    {#each learners as learner}
        <option value={learner}>{learner}</option>
    {/each}
</select>
