<script>
  import { onMount } from "svelte";
  import { onAuthStateChanged, fetchLearners } from "$lib/auth";
  import LearnerSelect from "$lib/components/ui/LearnerSelect.svelte";
  import TabNav from "$lib/components/ui/TabNav.svelte";
  import DataBrowser from "$lib/components/tables/DataBrowser.svelte";
  import PopStatsDisplay from "../stats/Pop/PopStatsDisplay.svelte";
  import { fetchAndCacheFirestoreData } from "$lib/firestore/sharedFirestoreService.js";
  import PopChartsDisplay from "../charts/PopChartsDisplay.svelte";

  export let firestoreCollection;
  export let endGameCollection;

  let learners = [];
  let selectedSubject = "";
  let isLoggedIn = false;
  let showSelectSubjects = false;
  let activeTab = "home";
  let userId;
  let actions;
  let loggedActions;
  let endGameActions;
  let tempUserId = "";
  let loading = false;

  onMount(() => {
    onAuthStateChanged((user) => {
      isLoggedIn = !!user;
      if (user) {
        userId = user.uid;
        showSelectSubjects = true;
        fetchLearners(userId).then((fetchedLearners) => {
          learners = ["All", ...fetchedLearners];
        });
      } else {
        resetState();
      }
    });
  });

  function resetState() {
    learners = [];
    selectedSubject = "";
    actions = null;
    loggedActions = null;
    endGameActions = null;
    showSelectSubjects = false;
  }

  async function loadData() {
    if (userId) {
      if (!selectedSubject) {
        selectedSubject = "All";
      }
      loading = true;
      loggedActions = await fetchAndCacheFirestoreData(
        firestoreCollection,
        selectedSubject,
        userId,
      );
      endGameActions = await fetchAndCacheFirestoreData(
        endGameCollection,
        selectedSubject,
        userId,
      );
      fetchLearners(userId).then((fetchedLearners) => {
        learners = ["All", ...fetchedLearners];
      });
      loading = false;
    }
  }

  async function handleUserIdSubmit() {
    userId = tempUserId;
    isLoggedIn = true;
    await loadData();
  }

  $: if (userId && selectedSubject) {
    loadData();
  }

  function handleTabChange(tab) {
    activeTab = tab;
  }
</script>

{#if isLoggedIn}
  <div class="container">
    {#if showSelectSubjects}
      <h2>Please Select a subject</h2>
      <LearnerSelect {learners} bind:selectedSubject />
    {/if}
    {#if loading}
      <div class="loader">Loading...</div>
    {/if}
    {#if !loading && loggedActions && selectedSubject && endGameActions}
      {#if tempUserId === userId}
        <LearnerSelect {learners} bind:selectedSubject />
      {/if}
      <TabNav {activeTab} onChange={handleTabChange} endGame={true} />
      <div class="content">
        {#if activeTab === "home"}
          <DataBrowser
            showTitle={true}
            {firestoreCollection}
            items={loggedActions}
            {selectedSubject}
            {userId}
          />
        {:else if activeTab === "endgame"}
          <DataBrowser
            showTitle={true}
            title={"Endgame Data"}
            firestoreCollection={endGameCollection}
            items={endGameActions}
            {selectedSubject}
            {userId}
          />
        {:else if activeTab === "stats"}
          <PopStatsDisplay {selectedSubject} {userId} />
        {:else if activeTab === "charts"}
          <PopChartsDisplay {selectedSubject} {userId} />
        {/if}
      </div>
    {/if}
  </div>
{:else}
  <div class="login-container">
    <h1>Please log in to access this feature.</h1>
    <p>Or submit your user ID.</p>
    <input type="text" placeholder="Enter User ID" bind:value={tempUserId} />
    <button class="btn btn-success btn-sm" on:click={handleUserIdSubmit}
      >Submit</button
    >
  </div>
{/if}

<style>
  .container {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
  }
  .content {
    margin-top: 20px;
  }
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  .login-container {
    text-align: center;
    margin-top: 20px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .loader {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
  }
</style>
