<script>
  export let content;
  export let onClose;

  let copied = false;
  function copyToClipboard() {
    navigator.clipboard.writeText(content);
    copied = true;
  }
</script>

<div class="popup" on:click={onClose}>
  <div class="popup-content" on:click|stopPropagation>
    <button class="btn btn-danger" on:click={onClose}>Close</button>
    <textarea readonly>{content}</textarea>
    <button class="btn btn-success" on:click={copyToClipboard}>Copy Code</button
    >
    {#if copied}
      Copied to clipboard!
    {/if}
  </div>
</div>

<style>
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegurar que el popup esté siempre por encima */
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  textarea {
    width: 100%;
    height: 200px;
  }
</style>
