<!-- src/components/TabNav.svelte -->
<script>
    export let activeTab;
    export let onChange;
    export let endGame = false;
</script>

<div class="nav nav-tabs" role="tablist">
    <button
        class="nav-link {activeTab === 'home' ? 'active' : ''}"
        on:click={() => onChange("home")}
        role="tab"
    >
        Data
    </button>
    {#if endGame}
        <button
            class="nav-link {activeTab === 'endgame' ? 'active' : ''}"
            on:click={() => onChange("endgame")}
            role="tab"
        >
            Endgame
        </button>
    {/if}
    <button
        class="nav-link {activeTab === 'stats' ? 'active' : ''}"
        on:click={() => onChange("stats")}
        role="tab"
    >
        Stats
    </button>
    <button
        class="nav-link {activeTab === 'charts' ? 'active' : ''}"
        on:click={() => onChange("charts")}
        role="tab"
    >
        Charts
    </button>
</div>
