<script>
    export let text = '';
</script>

<span class="tooltip-container">
    <span class="icon">?</span>
    <span class="tooltip-text">{text}</span>
</span>

<style>
    .tooltip-container {
        position: relative;
        display: inline-block;
    }

    .icon {
        background-color: #f9f9f9;
        color: black;
        border: 1px solid #d3d3d3;
        padding: 5px;
        border-radius: 50%;
        font-family: Arial, sans-serif;
        cursor: pointer;
    }

    .tooltip-text {
        visibility: hidden;
        width: auto;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip-container:hover .tooltip-text,
    .tooltip-container:focus .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
</style>
