<script>
    export let actions;

    import { Pie } from "svelte-chartjs";
    import {
        Chart as ChartJS,
        Title,
        Tooltip,
        Legend,
        ArcElement,
        CategoryScale,
        Colors,
    } from "chart.js";

    let contingencyTable = actions?.contingencyTable;

    ChartJS.register(Title, Tooltip, Legend, Colors, ArcElement, CategoryScale);

    let selectedColor = contingencyTable[0]?.color;
    let data;

    function updateChartData() {
        if (!selectedColor) return; // Return early if no selected color is set

        const selectedEntry = contingencyTable.find(
            (entry) => entry.color === selectedColor,
        );
        if (selectedEntry) {
            let labels = Object.keys(selectedEntry).filter(
                (key) => key !== "color" && selectedEntry[key] !== undefined, // Ensure there are no undefined data entries
            );
            let datasetData = labels.map((label) => selectedEntry[label]);
            let backgroundColors = labels.map((label) => {
                // Assuming labels are supposed to match color codes directly or you have a mapping to translate them
                return label.toLowerCase() === "undefined"
                    ? "#000000"
                    : label.toLowerCase(); // Replace 'undefined' with a default color, e.g., black
            });

            data = {
                labels,
                datasets: [
                    {
                        label: `Distribution for ${selectedColor}`,
                        data: datasetData,
                        borderWidth: 1,
                        backgroundColor: backgroundColors,
                    },
                ],
            };
        } else {
            data = null; // Set data to null if no entry is found
        }
    }

    $: updateChartData();
</script>

<select
    class="form-select"
    bind:value={selectedColor}
    on:change={updateChartData}
>
    {#each contingencyTable as entry}
        <option value={entry.color}>
            <span class="color-box" style="background-color: {entry.color};"
            ></span>
            {entry.color}
        </option>
    {/each}
</select>

{#if data}
    <Pie {data} options={{ responsive: true }} />
{/if}

<style>
    .color-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }
</style>
