<script>
    export let actions;

    import { Scatter } from "svelte-chartjs";
    import {
        Chart as ChartJS,
        Title,
        Tooltip,
        Legend,
        PointElement,
        LinearScale,
        Colors,
    } from "chart.js";

    let screenTaps = actions?.screenTaps;
    ChartJS.register(Title, Tooltip, Legend, Colors, PointElement, LinearScale);

    let data;

    $: {
        if (screenTaps) {
            const scatterData = screenTaps.x.map((x, index) => ({
                x: x,
                y: screenTaps.y[index],
            }));

            data = {
                datasets: [
                    {
                        label: "Screen Taps",
                        data: scatterData,
                        backgroundColor: "#007bff",
                    },
                ],
            };
        }
    }
</script>

{#if data}
    <Scatter {data} options={{ responsive: true }} />
{/if}
