<script>
    export let actions;
    import { Pie } from "svelte-chartjs";
    import {
        Chart as ChartJS,
        Title,
        Tooltip,
        Legend,
        ArcElement,
        CategoryScale,
        Colors,
    } from "chart.js";

    let rowTotals = actions?.chiSquaredColors?.rowTotals;
    ChartJS.register(Title, Tooltip, Legend, Colors, ArcElement, CategoryScale);

    let data;

    $: {
        if (rowTotals) {
            let labels = Object.keys(rowTotals);
            let datasetData = Object.values(rowTotals);
            let backgroundColors = labels;

            data = {
                labels,
                datasets: [
                    {
                        label: "N° of Pops:",
                        data: datasetData,
                        borderWidth: 1,
                        backgroundColor: backgroundColors,
                    },
                ],
            };
        }
    }
</script>

{#if data}
    <Pie {data} options={{ responsive: true }} />
{/if}
