<script>
    import { browser } from "$app/environment";
    import Popup from "$lib/components/ui/Popup.svelte";
    import DownloadButton from "$lib/components/ui/DownloadButton.svelte";

    export let actions;

    function formatPValue(pValue) {
        if (pValue === 0) {
            return pValue.toFixed(2);
        } // Otherwise, use 4 decimal places
        if (pValue < 0.0001) {
            return pValue.toExponential(5); // Use scientific notation for very small p-values
        } else {
            return pValue.toFixed(4);
        }
    }

    let gameAccuracy;
    let totals;
    let visibleGames = [];
    let visibleCount = 5;

    let showPopup = false;
    let latexContent = "";

    function updateVisibleGames() {
        visibleGames = gameAccuracy ? gameAccuracy.slice(0, visibleCount) : [];
    }

    $: if (actions && actions.accuracy) {
        gameAccuracy = actions.accuracy.gameAccuracy;
        totals = actions.accuracy.totals;
        updateVisibleGames();
    }

    $: visibleCount, updateVisibleGames();

    function showLatex(event) {
        latexContent = event.detail.latexContent;
        showPopup = true;
    }

    const tableHeaders = [
        "Game ID",
        "Game date",
        "Game time",
        "Normal Accuracy",
        "Normal P Value",
        "Experimental Accuracy",
        "Experimental P Value",
        "Control Accuracy",
        "Control P Value",
        "Marked Accuracy",
        "Marked P Value",
    ];

    $: tableData = visibleGames.map((game) => [
        game.gameId,
        game.date,
        game.time,
        (game.normal_accuracy * 100).toFixed(3) + "%",
        formatPValue(game.pValues.normalPValue),
        (game.experimental_accuracy * 100).toFixed(3) + "%",
        formatPValue(game.pValues.experimentalPValue),
        (game.control_accuracy * 100).toFixed(3) + "%",
        formatPValue(game.pValues.controlPValue),
        (game.marked_accuracy * 100).toFixed(3) + "%",
        formatPValue(game.pValues.markedPValue),
    ]);
</script>

<div class="last-selector">
    <div class="select-text" style="margin-top:auto;">
        <h6>Select last :</h6>
    </div>

    <select
        class="form-select"
        bind:value={visibleCount}
        placeholder={visibleCount}
    >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="100">100</option>
    </select>

    <div class="download-button">
        <DownloadButton
            name="Game Accuracy"
            tableId="game-table"
            {tableHeaders}
            {tableData}
            on:showLatex={showLatex}
        />
    </div>
</div>

{#if gameAccuracy}
    <table class="table" id="game-table">
        <thead>
            <tr>
                {#each tableHeaders as header}
                    <th>{header}</th>
                {/each}
            </tr>
        </thead>
        <tbody>
            {#each visibleGames as game (game.gameId)}
                <tr>
                    <td>{game.gameId}</td>
                    <td>{game.date}</td>
                    <td>{game.time}</td>
                    <td>{(game.normal_accuracy * 100).toFixed(3)}%</td>
                    <td>{formatPValue(game.pValues.normalPValue)}</td>
                    <td>{(game.experimental_accuracy * 100).toFixed(3)}%</td>
                    <td>{formatPValue(game.pValues.experimentalPValue)}</td>
                    <td>{(game.control_accuracy * 100).toFixed(3)}%</td>
                    <td>{formatPValue(game.pValues.controlPValue)}</td>
                    <td>{(game.marked_accuracy * 100).toFixed(3)}%</td>
                    <td>{formatPValue(game.pValues.markedPValue)}</td>
                </tr>
            {/each}
        </tbody>
    </table>
{/if}

{#if totals}
    <section class="card border-primary mb-3">
        <div class="card-header">Total Accuracy</div>
        <div class="card-body">
            <p class="card-text">
                Total Normal Accuracy: {(
                    totals.totalNormalAccuracy * 100
                ).toFixed(3)}%
            </p>
            <p class="card-text">
                Total Normal P Value: {formatPValue(
                    totals.pValues.normalPValue,
                )}
            </p>
            <p class="card-text">
                Total Experimental Accuracy: {(
                    totals.totalExperimentalAccuracy * 100
                ).toFixed(3)}%
            </p>
            <p class="card-text">
                Total Experimental P Value: {formatPValue(
                    totals.pValues.experimentalPValue,
                )}
            </p>
            <p class="card-text">
                Total Control Accuracy: {(
                    totals.totalControlAccuracy * 100
                ).toFixed(3)}%
            </p>
            <p class="card-text">
                Total Experimental P Value: {formatPValue(
                    totals.pValues.experimentalPValue,
                )}
            </p>
            <p class="card-text">
                Total Marked Accuracy: {(
                    totals.totalMarkedAccuracy * 100
                ).toFixed(3)}%
            </p>
            <p class="card-text">
                Total Marked P Value: {formatPValue(
                    totals.pValues.markedPValue,
                )}
            </p>
        </div>
    </section>
{/if}

{#if showPopup}
    <Popup content={latexContent} onClose={() => (showPopup = false)} />
{/if}

<style>
    .last-selector {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .table {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 1rem;
        color: #212529;
    }
    .card {
        margin-top: 20px;
    }
    .download-button {
        margin-left: auto;
    }
    .form-select {
        width: 6rem;
    }
    .card-body {
        display: flex;
        flex-wrap: wrap;
    }
    .card-text {
        flex: 1 1 50%;
    }
</style>
