<script>
    export let actions;
</script>

{#if actions.chiSquaredColors}
    <section class="card border-secondary mb-3">
        <div class="card-header">Chi-Squared Color Bias</div>
        <div class="card-body">
            <p
                class="card-text d-flex justify-content-between align-items-center"
            >
                Chi-Squared: <span class="badge bg-primary badge-pill"
                    >{actions.chiSquaredColors.chiSquared}</span
                >
            </p>
            <p
                class="card-text d-flex justify-content-between align-items-center"
            >
                pValue: <span class="badge bg-primary badge-pill"
                    >{actions.chiSquaredColors.pValue}</span
                >
            </p>
            <p
                class="card-text d-flex justify-content-between align-items-center"
            >
                Degrees of Freedom: <span class="badge bg-primary badge-pill"
                    >{actions.chiSquaredColors.degreesOfFreedom}</span
                >
            </p>
            <p
                class="card-text d-flex justify-content-between align-items-center"
            >
                P value is less than 0.05 significance level? <span
                    class="badge bg-primary badge-pill"
                >
                    {actions.chiSquaredColors.pValue < 0.05 ? "Yes" : "No"}
                </span>
            </p>
            <div class="explain-paragraph">
                <p>
                    The Chi-Squared test {actions.chiSquaredColors.pValue < 0.05
                        ? "indicates a significant"
                        : "does not indicate any"} bias in color selection, suggesting
                    that the choices are {actions.chiSquaredColors.pValue < 0.05
                        ? "not random and potentially influenced by factors such as color representation."
                        : "with no clear preference for any particular color."}
                </p>
            </div>
        </div>
    </section>
{/if}

<style>
    .explain-paragraph {
        margin-top: 20px;
        text-align: justify;
        font-size: small;
    }
    .table-responsive {
        margin-top: 15px;
    }
    .color-box {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }
</style>
