<script>
  import { fetchPopData } from "$lib/dataService";
  import { writable } from "svelte/store";
  import { onMount } from "svelte";
  import Accuracy from "./Accuracy.svelte";
  import ContingencyTablePop from "$lib/components/tables/Pop/ContingencyTablePop.svelte";
  import ChiSquaredColors from "$lib/components/stats/Pop/ChiSquaredColors.svelte";
  import { isEmpty } from "@firebase/util";
  import Popup from "$lib/components/ui/Popup.svelte";
  import PoppedAndTotal from "$lib/components/tables/Pop/PoppedAndTotal.svelte";

  export let selectedSubject;
  export let userId;

  let startDate = writable(null);
  let endDate = writable(null);

  let actions;
  let initialFetchDone = false;
  let loading = false; // Loading flag to control the display of the loading screen

  let showPopup = false;
  let latexContent = "";

  async function fetchData() {
    loading = true; // Start loading
    const start = $startDate ? new Date($startDate).toISOString() : undefined;
    const end = $endDate ? new Date($endDate).toISOString() : undefined;
    actions = await fetchPopData(selectedSubject, userId, start, end);
    loading = false; // End loading
  }

  onMount(() => {
    fetchData();
    initialFetchDone = true;
  });

  $: if ($startDate && $endDate && initialFetchDone) {
    fetchData();
  }

  $: if (!$startDate && !$endDate) {
    fetchData();
  }

  $: if (selectedSubject) {
    fetchData();
  }

  function showLatex(event) {
    latexContent = event.detail.latexContent;
    showPopup = true;
  }
</script>

<div class="header">
  <div class="date-info">
    {#if $startDate && $endDate}
      <h5>Date Range: <i>{$startDate}</i> to <i>{$endDate}</i></h5>
    {:else}
      <h5>Date Range: All Time</h5>
    {/if}
  </div>
  <div class="date-filter">
    <h6>Filter By Date:</h6>
    <input type="date" bind:value={$startDate} placeholder="Start Date" />
    to
    <input type="date" bind:value={$endDate} placeholder="End Date" />
  </div>
</div>

{#if loading}
  <p>Loading data, please wait...</p>
{:else if actions && !isEmpty(actions.accuracy.gameAccuracy)}
  <div class="row">
    <div class="data-display-container">
      <h2>Data Display</h2>
      <div class="test-display">
        <Accuracy {actions} on:showLatex={showLatex} />
        <ContingencyTablePop {actions} on:showLatex={showLatex} />
        <ChiSquaredColors {actions} />
        <PoppedAndTotal {actions} on:showLatex={showLatex} />
      </div>
    </div>
  </div>
{:else}
  <p>No statistical data available.</p>
{/if}

{#if showPopup}
  <Popup content={latexContent} onClose={() => (showPopup = false)} />
{/if}

<style>
  .row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 40px;
  }
  .data-display-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; /* Asegúrate de que el contenedor sea relativo */
  }
  .test-display {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .date-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
</style>
