<script>
    //import GridJsTable from "./GridJsTable.svelte";
    import Headless from "./Headless.svelte";
    import { formatColumns } from "$lib/tableUtils";
    import { INCA_APPS } from "$lib/constants";

    export let items;
    export let selectedSubject;
    export let userId;
    export let firestoreCollection;
    export let showTitle = true;
    export let title = "Data Browser";

    const baseColumns = ["Date", "Time", "User", "Action", "Subject"];
    function formatColumnName(name) {
        // Split the string on capital letters and join with space
        // Then capitalize the first letter of each word
        return name
            .replace(/([A-Z])/g, " $1") // Insert a space before each capital letter
            .trim() // Remove any leading space
            .replace(/\b\w/g, (char) => char.toUpperCase()); // Capitalize the first letter of each word
    }

    function extractAndFormatDetailColumnNames(data) {
        const detailColumns = new Set();

        // Iterate over each item to identify all unique nested keys in 'details'
        data.forEach((item) => {
            if (item.details) {
                Object.keys(item.details).forEach((key) => {
                    const formattedKey = formatColumnName(key);
                    detailColumns.add(formattedKey);
                });
            }
        });

        // Convert the Set to an array to get the list of formatted detail column names
        return Array.from(detailColumns);
    }

    // Example usage with your data
    const data = [
        /* your array of objects here */
    ];
    const formattedDetailColumnNames = extractAndFormatDetailColumnNames(items);
    formattedDetailColumnNames.sort();
    let columns = baseColumns.concat(formattedDetailColumnNames);
    if (firestoreCollection === INCA_APPS.WHICH_HAS_MORE) {
        columns.push(columns.splice(columns.indexOf("Options"), 1)[0]);
    }
    if (firestoreCollection === INCA_APPS.DELBOEUF) {
        columns.push(columns.splice(columns.indexOf("Container Size"), 1)[0]);
        columns.push(columns.splice(columns.indexOf("Disc Values"), 1)[0]);
    }
    if (firestoreCollection === INCA_APPS.POP_END) {
        columns = columns.filter(
            (column) => column !== "Special Color Pairs Seen",
        );
    }
    if (firestoreCollection === INCA_APPS.POP) {
        const colorIndex = columns.indexOf("Color");
        const innerFigColorIndex = columns.indexOf("Inner Fig Color");
        if (innerFigColorIndex > -1) {
            const [innerFigColor] = columns.splice(innerFigColorIndex, 1);
            columns.splice(colorIndex + 1, 0, innerFigColor);
        }
    }
</script>

{#if showTitle}
    <div class="title">
        <h1>{title}</h1>
    </div>
{/if}

<!-- <GridJsTable {items} {columns} /> -->
<!-- <Headless {items} {columns} /> -->
<Headless {firestoreCollection} {selectedSubject} {columns} {userId} />

<style>
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
