<script>
    import { writable } from "svelte/store";
    import { onMount } from "svelte";
    import {
        addPagination,
        addSortBy,
        addTableFilter,
        addResizedColumns,
    } from "svelte-headless-table/plugins";
    import { createTable, Subscribe, Render } from "svelte-headless-table";
    import { formatColumns, prepareData } from "$lib/tableUtils";
    import { fetchAndCacheFirestoreData } from "$lib/firestore/sharedFirestoreService.js";
    import { logsToJSONUrl, asyncLogsToCsvUrl } from "$lib/downloader";

    export let columns;
    export let selectedSubject;
    export let userId;
    export let firestoreCollection;

    let items = writable([]);
    let startDate = writable(null);
    let endDate = writable(null);
    const baseColumns = formatColumns(columns);

    async function fetchData() {
        if (selectedSubject && userId) {
            const start = $startDate
                ? new Date($startDate).toISOString()
                : null;
            const end = $endDate ? new Date($endDate).toISOString() : null;
            try {
                const fetchedItems = await fetchAndCacheFirestoreData(
                    firestoreCollection,
                    selectedSubject,
                    userId,
                    start,
                    end,
                );
                items.set(fetchedItems);
            } catch (error) {
                console.error("Error fetching data:", error);
            }
        }
        if (!selectedSubject && userId) {
            const start = $startDate
                ? new Date($startDate).toISOString()
                : null;
            const end = $endDate ? new Date($endDate).toISOString() : null;
            try {
                const fetchedItems = await fetchAndCacheFirestoreData(
                    firestoreCollection,
                    selectedSubject,
                    userId,
                    start,
                    end,
                );
                items.set(fetchedItems);
            } catch (error) {
                console.error("Error fetching data:", error);
            }
        }
    }

    onMount(fetchData);

    $: if (selectedSubject && userId) {
        fetchData();
    }

    $: $startDate && $endDate, fetchData();

    let preparedData = [];
    $: preparedData = $items ? prepareData($items, baseColumns) : [];

    const data = writable([]);
    $: data.set(preparedData); // Set data reactively based on preparedDat

    const table = createTable(data, {
        page: addPagination(),
        sort: addSortBy(),
        tableFilter: addTableFilter(),
        resize: addResizedColumns(),
    });

    const newColumns = table.createColumns(
        formatColumns(columns).map((column) => table.column(column)),
    );

    const { headerRows, tableAttrs, tableBodyAttrs, pageRows, pluginStates } =
        table.createViewModel(newColumns);
    const { pageIndex, pageCount, hasNextPage, hasPreviousPage } =
        pluginStates.page;
    const { filterValue } = pluginStates.tableFilter;
</script>

{#if $items.length === 0}
    <div>No data available</div>
{:else}
    <div class="table-ui">
        <div class="search-input">
            <input
                type="text"
                class="form-control"
                placeholder="Search ..."
                bind:value={$filterValue}
            />
        </div>

        <div class="date-filter">
            <input
                type="date"
                bind:value={$startDate}
                placeholder="Start Date"
            />
            to
            <input type="date" bind:value={$endDate} placeholder="End Date" />
        </div>

        <div class="download-buttons">
            <a href={logsToJSONUrl($items)} download="logs.json"
                >Download as JSON</a
            >
            {#await asyncLogsToCsvUrl($items)}
                <div>Zipping CSV</div>
            {:then csv}
                <a href={csv} download="logs.zip">Download as CSV</a>
            {:catch error}
                <p>{error}</p>
            {/await}
        </div>
    </div>

    <div class="table-container">
        <table {...$tableAttrs} class="table">
            <thead>
                {#each $headerRows as headerRow (headerRow.id)}
                    <Subscribe rowAttrs={headerRow.attrs()} let:rowAttrs>
                        <tr {...rowAttrs}>
                            {#each headerRow.cells as cell (cell.id)}
                                <Subscribe
                                    attrs={cell.attrs()}
                                    let:attrs
                                    props={cell.props()}
                                    let:props
                                >
                                    <th {...attrs} on:click={props.sort.toggle}>
                                        <Render of={cell.render()} />
                                        {#if props.sort.order === "asc"}
                                            ⬇️
                                        {:else if props.sort.order === "desc"}
                                            ⬆️
                                        {/if}
                                    </th>
                                </Subscribe>
                            {/each}
                        </tr>
                    </Subscribe>
                {/each}
            </thead>
            <tbody {...$tableBodyAttrs}>
                {#each $pageRows as row (row.id)}
                    <Subscribe rowAttrs={row.attrs()} let:rowAttrs>
                        <tr {...rowAttrs}>
                            {#each row.cells as cell (cell.id)}
                                <Subscribe attrs={cell.attrs()} let:attrs>
                                    <td {...attrs}>
                                        <Render of={cell.render()} />
                                    </td>
                                </Subscribe>
                            {/each}
                        </tr>
                    </Subscribe>
                {/each}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <button
            class="btn btn-primary btn-sm"
            on:click={() => $pageIndex--}
            disabled={!$hasPreviousPage}>Previous page</button
        >
        {$pageIndex + 1} out of {$pageCount}
        <button
            class="btn btn-primary btn-sm"
            on:click={() => $pageIndex++}
            disabled={!$hasNextPage}>Next page</button
        >
    </div>
{/if}

<style>
    .table-ui {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-input {
        width: 30rem;
    }
    .download-buttons {
        align-items: flex-end;
        gap: 0rem;
    }
    .table-container {
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .table {
        width: 100%; /* Full width inside the container */
        min-width: 1500px; /* Adjust as needed for your content */
        margin-bottom: 1rem; /* Optional: adds space below the table */
    }
    th,
    td {
        white-space: nowrap; /* Prevent wrapping and ensure scrolling */
        /* Add other styling as needed */
    }
    .pagination {
        text-align: center; /* Center pagination buttons and info */
        margin-top: 1rem; /* Add some space above the pagination */
    }
</style>
