<script>
  import PopPage from "$lib/components/ui/PopPage.svelte";
  import { INCA_APPS } from "$lib/constants";

  const POP = INCA_APPS.POP;
  const POP_END = INCA_APPS.POP_END;
</script>

<PopPage firestoreCollection= {POP} endGameCollection= {POP_END}/>